.primary {
    border: 1px solid rgba(76, 158, 219, 0);
    background: rgba(1, 117, 204, 0.7);
    color: #fff;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}

.btn-Orange {
    composes: primary;
    border: none;
    border-radius: 2px;
    background-color: #3399FF;
    font-size: 14px;
    padding: 5px 30px;
    display: inline-block;
}

.btn-Orange:hover {
    background-color: #66CCFF;
}

.btn-cancel {
    composes: btn-Orange;
    background-color: #7f7f7f;
}

.btn-cancel:hover {
    background-color: #888;
}
.btn-base{
    composes: btn-Orange;
    background-color: #d5d5d5;
    color:#000;
}
.btn-base:hover{
    background-color: #eee;
}