.suggest-box{
    width: 100%;
}
.suggest-input-box{
    width: 100%;
    position: relative;
}
.clearInput {
    position: absolute;
    right: 1px;
    width: 25px;
    text-align: center;
    top: 1px;
    color: #CCCCCC;
    z-index: 2;
    border-left: 1px solid #e0e0e0;
    background-color: #efefef
}
.clearInput i{
    font-size: 18px;
}
.clearInput:hover{

    cursor: pointer;
}
.input{
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
}
.clearInput{

}
.suggest-panel{
    position: relative;
}
.suggest-content{
    overflow-y: auto;
    max-height: 300px;
    width: 100%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px #CAB4DD;
    border-top: 0px;
    position: absolute;
    z-index: 3;
}
.suggest-item{
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 0px 10px;
    color: #000;
    border-bottom: 1px solid #fefefe;
}
.suggest-item:hover{
    background-color: #efefef;
}

